.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cart {
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
}

.cart h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart p {
  font-size: 1rem;
  margin: 10px 0;
}

.cart button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart button:hover {
  background-color: #0056b3;
}
